@mixin border {
    border: 1px solid black;
}

.espacio {
    @include border();
}


/*------------------------INICIO DE MI CABECERA-----------------------*/

.cabecera {
    >div>div:first-child {
        overflow: hidden;
    }
    .cabecera__logo {
        margin-top: 10px;
        max-width: 150px !important;
        img {
            animation-name: desplazamiento;
            /*llamo a mi fey frame*/
            animation-duration: 5s;
            /*timpo que durar la animacion*/
            animation-delay: 1s;
            animation-iteration-count: 1;
            /*si va sr infinita*/
            animation-timing-function: linear;
            /*todo el rato va a la misma velocidad*/
        }
    }
    h1 {
        display: none;
    }
    .cabecera__iconos {
        p {
            color: black;
            margin-top: 5px;
            text-align: right;
            margin-right: 15px;
        }
    }
}

@keyframes desplazamiento {
    0% {
        margin-left: 0%;
    }
    25% {
        transform: scale(1.1);
    }
    55% {
        margin-left: 700px;
        transform: scale(1.2);
        -webkit-transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        transform: rotateY(180deg);
        transform-style: preserve-3d;
    }
    100% {
        margin-left: 0px;
        transform: scale(1.3);
        -webkit-transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        transform: rotateY(180deg);
        transform-style: preserve-3d;
    }
}

header [class*="icon-"]:before {
    position: relative;
    border-radius: 999px;
    color: green;
    left: 0px;
    top: 5px;
    font-size: 30px;
}

header [class="icon-gps"]:before {
    color: darkorchid;
}

header .contactoInfo span {
    margin-left: 7px;
}


/*--------------------------------FIN DE MI CABECERA-------------------------*/


/*-------------------------------INICIO DE MI MENU DE NAVEGACION-------------*/

.navegacion {
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
    top: 20px;
    display: flex;
    justify-content: space-between;
}

.icon-menu {
    display: block;
    border: 1px solid white;
    background: white;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
    font-size: 2.6rem;
}

.menu {
    position: absolute;
    top: 55px;
    left: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-align: center;
    height: 0px;
    transition: height 250ms linear;
    overflow: hidden;
    font-size: 1.6rem;
    background: rgba(0, 0, 0, 0.95);
    .menu__link {
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
    }
    .menu__link:hover {
        background: #de423a;
    }
    .resaltar__menu {
        background: #de423a;
    }
}

.mostrar {
    height: 271px;
}

.red-sociales {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 5px !important;
    a {
        text-decoration: none !important;
    }
}

.red-sociales [class*="icon-"] {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
    transition: all 500ms;
    margin-left: 10px;
}

.red-sociales [class="icon-youtube"]:hover {
    background: red;
    color: white;
}

.red-sociales [class="icon-facebook"]:hover {
    background: blue;
    color: white;
}

.red-sociales [class="icon-twitter"]:hover {
    background: #5dbaeb;
    color: white;
}

.red-sociales [class="icon-mail"]:hover {
    background: #006fbf;
    color: white;
}

.red-sociales .red-link {
    text-decoration: none;
}


/*-----------------------------------FIN DE MI MENU DE NAVEGACION---------------*/