.container-galeria {
    width: 100%;
    margin: auto;
}

.container-flex {
    /*pone en linea los bloques*/
    display: flex;
    /*pone en 1 fila los bloques*/
    flex-direction: row;
    /*si no entran los elementos los baja*/
    flex-wrap: wrap;
    /*flex-wrap: nowrap; hace que ingrese en una sola row o column ajustando el tamaño de los bloques*/
    justify-content: space-between;
    align-items: center;
}

.column {
    width: 100%;
}

.galery img {
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 300ms;
}

.galery img:hover {
    transform: scale(1.02);
}

.galery-img-big {
    height: 350px;
}

.galery-img-small {
    height: 250px;
}

.modal1 {
    display: none;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    /*para que se quede pegado en la pantalla*/
    top: 0;
    /*se qjeda en la esquina del body*/
    left: 0;
    z-index: 9000 !important;
}

.modal1-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal1-img {
    width: 50%;
}

.modal1-boton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #de423a;
    font-size: 2em;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
    z-index: 5000;
}

.modal-open {
    display: block;
    z-index: 1;
}

@media (min-width: 480px) {
    .column-50 {
        width: 48%;
    }
    .column-50-25 {
        width: 49%;
    }
}

@media (min-width: 768px) {
    .column-50-25 {
        width: 24%;
    }
}